extends layout

block content
    #timeline-embed

    script(type='text/javascript', src='/javascripts/vendors/jquery/jquery-1.10.2.js')
    script(type='text/javascript', src='/javascripts/vendors/timelinejs/js/storyjs-embed.js')
    script(type='text/javascript', src='/javascripts/vendors/magnific/jquery.magnific-popup.js')
    script(type='text/javascript', src='/javascripts/index.js')
