doctype html
html
    head
        title= '毛毛的成长记录'
        meta(charset='utf-8')
        meta(name='description', content='毛毛的成长记录')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='apple-touch-fullscreen', content='yes')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
        link(rel='shortcut icon', type='image/x-icon' href='/favicon.ico')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/javascripts/vendors/magnific/magnific-popup.css')
    body
        block content